W{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load comment_tags %}
{% load i18n %}

{% block content %}
    {% trans 'Cart' as gg %}
    {% include 'header.html' with header_name=gg %}
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-md--50">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    {% if cart %}
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>{% trans 'cover' %}</th>
                                                    <th>{% trans 'title' %}</th>
                                                    <th>{% trans 'fee' %}</th>
                                                    <th>{% trans 'numbers' %}</th>
                                                    <th>{% trans 'total fees' %}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for items in cart %}
                                                    <td class="product-remove text-left"><a
                                                            href="{% url 'cart:remove' items.product_object.id %}"><i
                                                            class="flaticon flaticon-cross"></i></a></td>
                                                    <td class="product-thumbnail text-left">
                                                        <img src="assets/img/products/prod-10-70x88.jpg"
                                                             alt="Product Thumnail">
                                                    </td>
                                                    <td class="product-name">
                                                        <h3>
                                                            <a href="{{ items.product_object.get_absolute_url }}">{{ items.product_object.title }} </a>
                                                        </h3>
                                                    </td>
                                                    <td class="product-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">{{ items.product_object.price }} {% trans '$' %}</span>
                                                                </span>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <form class="d-flex" method="POST"
                                                              action="{% url 'cart:sending' items.product_object.id %}">
                                                            {% csrf_token %}
                                                            <div class="quantity">
                                                                <input type="number" class="quantity-input" name="quantity"
                                                                       id="qty-1" value="{{ items.quantity }}" min="1">
                                                            </div>
                                                            {{ items.update_quantity.inplace }}
                                                            <button class="small"
                                                                    type="submit">{% trans 'update' %}</button>
                                                        </form>
                                                    </td>
                                                    <td class="product-total-price">
                                                                <span class="product-price-wrapper">
                                                                    <span class="money">{{ items.total_price }} {% trans '$' %}</span>
                                                                </span>
                                                    </td>
                                                    </tr>

                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p>{% trans 'your cart is empty! buy some shit' %}</p>
                                        <a href="{% url 'les' %}">{% trans 'lets go toilet' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row no-gutters border-top pt--20 mt--20">
                                <div class="col-sm-6 text-sm-right">
                                    <button type="submit" class="cart-form__btn">{% trans 'empty your cart' %}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart-collaterals">
                                <div class="cart-totals">
                                    <h5 class="font-size-14 font-bold mb--15">{% trans 'total' %}</h5>
                                    <div class="cart-calculator">
                                        {#                                    <div class="cart-calculator__item">#}
                                        {#                                        <div class="cart-calculator__item--head">#}
                                        {#                                            <span>مجموع</span>#}
                                        {#                                        </div>#}
                                        {#                                        <div class="cart-calculator__item--value">#}
                                        {#                                            <span>۳۴۶,۰۰۰ تومان</span>#}
                                        {#                                        </div>#}
                                        {#                                    </div>#}
                                        <div class="cart-calculator__item order-total">
                                            <div class="cart-calculator__item--head">
                                                <span> {% trans 'total values' %}</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                    <span class="product-price-wrapper">
                                                        <span class="money">{{ cart.get_total_price }} {% trans '$' %}</span>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="checkout.html" class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2">
                                    ثبت سفارش
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

